[Unit]
Description=Startup script to turn on the PWM fan

[Service]
Type=simple
ExecStart=/home/aimbot/Jetson-Tools/fan/enable.sh

[Install]
WantedBy=multi-user.target