[Unit]
Description=Startup script to turn on the PWM fan

[Service]
Type=simple
ExecStart=/home/aaron/Documents/GitHub/Jetson-Tools/fan/enable.sh
ExecStop=/home/aaron/Documents/GitHub/Jetson-Tools/fan/disable.sh

[Install]
WantedBy=multi-user.target
